.button-orange {
  color: white;
  background-color: $orange;
  border-radius: $border-radius;
  transition-duration: .1s;
  transition-timing-function: ease-out;
  transition-property: box-shadow, background-color;
}

.button-orange:hover {
  opacity: .875;
}

.button-orange:active,
.button-orange.is-active {
  box-shadow: inset 0 0 0 32px rgba(#000,.125), inset 0 2px 3px 0 rgba(#000,.25);
}

.button-orange:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(white, .5), 0 0 1px 4px rgba($orange, .5);
}

.button-orange:disabled,
.button-orange.is-disabled {
  opacity: .5;
}
